/*Jason Bentey
VFW 1206 
Project 2*/
body{
	background:#A67425;
}

label{
	display: block;
}

h1 {
	font-family: Arial, "MS Trebuchet", sans-serif;
	padding: 4px;
	border: 1px solid black;
	background: #FFC973;	
}

h2 {
	font-family: Arial, "MS Trebuchet", sans-serif;
	padding: 8px;
	border: 1px solid black;
	background: #FFE1B2;	
}

nav {
	padding-bottom:20px;
}

a {
 border: 1px solid black;
 padding: 2px;
 text-decoration: none;
 /*background-color: #BFA170;*/
 }


label {
	font-family:  Arial, "MS Trebuchet", sans-serif;
}

.meal {
	display: inline;
	font-style:bold;
}

.space {
	font-style:bold;
	margin-top:4px;
	font-family:  Arial, "MS Trebuchet", sans-serif;
}

ul {
	list-style-type:none;
	/*background:#FFE1B2;
	margin-left:-12px;
	margin-right:-8px;*/
}

.info {
	background: #FFC973;
	padding-top:6px;
	border: 1px solid #999;
}

#submit {
	margin-bottom:2px;
}

span {
	position: absolute;
	font-style:bold;
	font-family:  Arial, "MS Trebuchet", sans-serif;
	padding-top:4px;
}

.nobox {
list-style-type:none;
margin-left:-30px;
}
