
label{
	display: block;
}

h1 {
	font-family: Arial, "MS Trebuchet", sans-serif;
	padding: 15px;
	border: 2px solid black;
	background: #FFC973;	
}

a {
 border: 2px solid black;
 padding: 2px;
 text-decoration: none;
 background-color: #FFF;
 }


label {
	font-family: Bold, "MS Trebuchet", sans-serif;
	
}

.meal {

	display: inline;
}
